body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background-color: black;
  margin: 1rem;
  padding: 1rem;
}

#indexTitle {
  text-align: center;
}

#dottie {
  max-width: 100%;
  height: auto; 

}

header {
  padding: 1rem;
  background-color: darkgray;
}